<!doctype html>

<html lang="ru" class="dark:bg-gray-900">
  {{ partial "head.html" . }}

  <body class="dark:bg-gray-900 text-gray-800 dark:text-gray-400">
    {{ partial "nav.html" . }}

    <main class="px-5 my-5">
      <div class="container mx-auto">
        {{ block "main" . }}{{ end }}
      </div>
    </main>

    <div class="container mx-auto mt-10 px-4">
      <script src="https://giscus.app/client.js"
          data-repo="rusosnet/rusosnet.github.io"
          data-repo-id="R_kgDOIcpchw"
          data-category="General"
          data-category-id="DIC_kwDOIcpch84CXkaT"
          data-mapping="pathname"
          data-strict="0"
          data-reactions-enabled="1"
          data-emit-metadata="0"
          data-input-position="bottom"
          data-theme="preferred_color_scheme"
          data-lang="ru"
          crossorigin="anonymous"
          async>
      </script>
    </div>
  </body>
</html>
