{{ define "main" }}

{{ partial "single-title.html" . }}

{{ if .Params.poster }}
<img src="{{ .Params.poster }}" alt="{{ .Title }}" class="max-w-3xl w-full rounded" />
{{ end }}

<div class="markdown">{{ .Content }}</div>

{{ partial "applinks.html" . }}

{{ partial "map-marker.html" . }}

{{ partial "date-and-tags.html" . }}

{{ if .Params.source }}
<a href="{{ .Params.source }}" rel="nofollow" target="_blank">Источник</a>
{{ end }}

{{ partial "folk.html" . }}

{{ partial "related.html" . }}

{{ end }}
