{{ define "main" }}

<h1>{{ .Title }}</h1>

<div class="grid grid-cols-1 gap-4 md:grid-cols-2 xl:grid-cols-4">
{{ range $key, $value := .Site.Data.full.tgchannels }}

  <div class="flex">
    <div class="mr-2 w-[62px]">
      <img alt="{{ .name }}" src="{{ .imageURL }}" width="64" class="rounded-full" />
    </div>
    <div class="flex-1">
      <h5 class="font-bold">{{ .title }}</h5>
      <a href="https://t.me/{{ .name }}">{{ .name }}</a>
      <div>
        {{ .description | markdownify }}
      </div>
    </div>
  </div>

{{ end }}
</div>

{{ end }}
