@tailwind base;
@tailwind components;
@tailwind utilities;

.markdown a,
nav a {
  @apply text-blue-600 hover:underline dark:text-blue-500;
}

h1 {
  @apply font-bold text-2xl my-5;
}

.markdown p {
  @apply my-3;
}

.markdown ul {
  @apply list-disc ml-5 my-5;
}

.markdown ol {
  @apply list-decimal ml-5 my-5;
}

.markdown h2 {
  @apply font-bold text-2xl my-3;
}

.markdown h3 {
  @apply font-bold text-xl my-2;
}

.markdown h4 {
  @apply font-bold text-lg my-1;
}

.markdown blockquote {
  border-left: 3px solid;
  border-color: #ffbb42;
  font-style: italic;
  margin: 16px 0 24px;
  padding: 0 16px 0 24px;
}

.markdown img {
  width: 100%;
  max-width: 690px;
}

.circle-arrow {
  @apply text-purple-700 h-6 w-6 transform transition-transform duration-500 mr-2;
  display: inline-block;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath stroke='%23ccc' d='M13.962,8.885l-3.736,3.739c-0.086,0.086-0.201,0.13-0.314,0.13S9.686,12.71,9.6,12.624l-3.562-3.56C5.863,8.892,5.863,8.611,6.036,8.438c0.175-0.173,0.454-0.173,0.626,0l3.25,3.247l3.426-3.424c0.173-0.172,0.451-0.172,0.624,0C14.137,8.434,14.137,8.712,13.962,8.885 M18.406,10c0,4.644-3.763,8.406-8.406,8.406S1.594,14.644,1.594,10S5.356,1.594,10,1.594S18.406,5.356,18.406,10 M17.521,10c0-4.148-3.373-7.521-7.521-7.521c-4.148,0-7.521,3.374-7.521,7.521c0,4.147,3.374,7.521,7.521,7.521C14.148,17.521,17.521,14.147,17.521,10'%3E%3C/path%3E%3C/svg%3E");
}
